.formato {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}

.MuiGrid-root .formato{
    margin-left: 20px;
    margin-top: 20px;
}

.align-avatar{
    display: flex;
    align-items: center;
}